<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediksi Suhu</title>
</head>
<body>
    <h1>Prediksi Suhu Malaysia</h1>
    <p>
        Masukkan tahun yang akan diprediksi suhunya:
    </p>
    <form action="/" method="POST">
        <input type="number" name="tahun" placeholder="Tahun">
        <input type="submit">
    </form>

    <p>
        Prediksi suhu di Malaysia adalah:
    </p>

    {{my_year}}
</body>
</html>